/* 
  CSS - Module 3 Coding Assignment 
*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Oxygen', sans-serif; 
	background-image: url("../images/bkg-color.png");
	margin: 0;
}

h1 {
	font-size: 175%;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 20px;
	font-family: Cantarell;
	font-weight: bold;
	color: white;
}

h2 {
	padding: 5px;
	font-size: 130%;
	width: 150px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 20px;
	right: 15px;
	position: absolute;
	top: -5px;
}

p {
	padding: 25px;
	margin: 0;
	margin-top: 15px;
	background-color: gray;
	padding-top: 40px;
}

/** HEADER **/
#header-nav {
	border-radius: 0;
}

.navbar-brand {
	border: 0 0 10px 10px;
	color: #FFFFFF;
}
.navbar-brand { 
	font-family: "Century Ghotic";
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-left: 20px;
	margin-bottom: 0;
	line-height: .75;
}

.nav-brand {
	color: #FFFFFF;
	font-size: 1.5em;
}

hr {
	border-color: #000000;
	margin: 0;
}

#nav-list {
	margin-top: 0px;
}

#nav-list a {
	color: #000000;
	text-align: center;
	font-size: 1.5em;
}

#nav-list a:hover {
	background: #E7E7E7;
}

#nav-list a span {
	font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -35px;
}

/* END HEADER */

.container {
  	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: -10px;
}

#chicken {
	width: 30%;
	font-family: "Century Ghotic", sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
}

#beef {
	width: 30%;
	font-family: "Century Ghotic", sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
}

#sushi {
	width: 30%;
	font-family: "Century Ghotic", sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
}

.chicken {
  background-color: #FF69B4;
  color: white;
}

.beef {
  background-color: #C72C48;
  color: white;
}

.sushi {
  background-color: #FFF0BC;  
}

a { 
	color: white; 
}
